
rest-client/target/

*.class

*.class

MyDemo/src/.DS_Store

rest-demo/.idea/.DS_Store

rest-demo/target/.DS_Store

MyDemo/src/main/java/com/adcc/mydemo/.DS_Store

rest-demo/.idea/workspace.xml

rest-demo/.idea/workspace.xml

rest-demo/target/

*.class
