
rest-client/target/test-classes/com/example/test/TestRestClient.class

rest-client/target/classes/com/example/client/ApacheRestClient.class

rest-client/target/classes/log4j.properties

rest-client/target/MANIFEST.MF

*.class

*.class

MyDemo/src/.DS_Store

MyDemo/src/.DS_Store

rest-demo/.idea/.DS_Store

rest-demo/target/.DS_Store

MyDemo/src/main/java/com/adcc/mydemo/.DS_Store

rest-demo/.idea/workspace.xml

rest-demo/.idea/workspace.xml
